mixin storeForm(store = {})
    form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
     
     label(for="name") Name
     input(type="text" name="name" value=store.name maxlength="500") 
     label(for="description") Description
     textarea(name="description" cols="30", rows="12" maxlength="500")=  store.description

     //-  Image, multer :)
     label(for="photo") Photo
        input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg, image/jpg, image/tiff")
        if store.photo
            img(src=`/uploads/${store.photo}` alt=store.name width=200)
     //-  Address, Goe-Location :)
     label(for="address") Address
     input(type="text", id="address" name="location[address]" value=(store.location && store.location.address))

     lable(for="lng")  Longitude
     input(type="text" id="lng" name="location[coordination][0]" value=(store.location && store.location.coordinates[0]))
     lable(for="lat")  Lattitude
     input(type="text" id="lat" name="location[coordination][1]" value=(store.location && store.location.coordinates[1]))


     - const choices= ['wifi', 'Vegeterian', 'Family Friendly']
     - const tags = store.tags || []
     ul.tags
        each choice in choices
        
            .tag.tag__choice
                input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                label(for="choice") #{choice}
     input(type="submit" value="Save 👌🏻" class="button")

